# GitLab Configuration
GITLAB_TOKEN=glpat-xxx
GITLAB_PROJECT_ID=52152403
GITLAB_BASE_URL=https://gitlab.com/api/v4

# Database Configuration
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/kicad"
ADMIN_EMAILS=admin@example.com
